[Unit]
Description=VDO volume services
After=systemd-remount-fs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/vdo --confFile /etc/vdoconf.yml --vdoLogLevel info --all start
ExecStop=/usr/bin/vdo --confFile /etc/vdoconf.yml --vdoLogLevel info --all stop

[Install]
WantedBy=multi-user.target
